<div class="container">
  <h1 id="game-title">The Longest Word</h1>

  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>

  <form method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @letters %>
    <input type="text" name="guess">
    <input type="submit" value="Guess" class="guess-button">
  </form>

  <% if $nb_of_games > 0 %>
    <div class="score">
      <h1>Your score</h1>
      <p id="guess-result">
        <% if @in_grid %>
          <% if @valid_english_word %>
            <%= "Congratulations! \"#{@word.capitalize}\" is a valid English word. You won #{@score} point#{@score == 1 ? "" : "s"}." %>
          <% else %>
            <%= "Sorry, \"#{@word}\" does not seem to be a valid English word. No points awarded for this round." %>
          <% end %>
        <% else %>
          <%= "Sorry, it seems like \"#{@word}\" can't be built with the letters you were given. No points awarded for this round." %>
        <% end %>
      </p>
      <p><strong>Number of games played:</strong> <%= $nb_of_games %></p>
      <p><strong>Total score:</strong> <%= $overall_score %></p>
      <%= button_to "Reset game", root_path, method: :patch, class: "reset-button" %>
    </div>
  <% end %>
</div>
